{% extends 'base.html' %}
{% block title %}Ошибка 404{% endblock %}
{% block content %}
    <main>
        <section class="container my-5 px-4">
            <div class="container">
                <div class="row ">
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                        <h5 class="text-center">Страница не найдена</h5>
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}